* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    background: hsl(212, 45%, 89%);
}

.QR-code-container {
    background: hsl(0, 0%, 100%);
    width: 500px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.QR-code-container img {
    margin: 25px 25px;
    border-radius: 25px;
}

.QR-code-container h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin: 30px 30px;
    color: hsl(218, 44%, 22%);
}

.QR-code-container p {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin: 30px 30px;
    color: hsl(220, 15%, 55%);
}

@media screen and (device-width: 375px) {
    .QR-code-container {
        width: calc(500px * 1.5);
        height: calc(800px* 1.5);
    }

    .QR-code-container img {
        width: calc(450px * 1.5);
        margin: calc(25px * 1.5) calc(25px * 1.5);
    }

    .QR-code-container h2 {
        font-size: calc(36px * 1.5);
        font-weight: 700;
        margin: calc(30px * 1.5) calc(30px * 1.5);
    }

    .QR-code-container p {
        font-size: calc(24px * 1.5);
        margin: calc(30px * 1.5) calc(30px * 1.5);
    }
}

@media screen and (orientation:landscape) and (device-height: 375px) {
    .QR-code-container {
        height: calc(500px / 1.1);
        width: calc(800px * 1.1);
    }

    .QR-code-container img {
        float: left;
        width: calc(450px / 1.1);
        margin: calc(25px / 1.1) calc(25px / 1.1);
    }

    .QR-code-container h2 {
        display: block;
        width: 385px;
        font-size: calc(36px / 1.1);
        font-weight: 700;
        margin: calc(30px / 1.5) calc(30px / 1.5);
        margin-top: 125px;
    }

    .QR-code-container p {
        display: block;
        width: 385px;
        font-size: calc(24px / 1.1);
        margin: calc(30px / 1.5) calc(30px / 1.5);
    }
}
    